<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
    <meta charset="UTF-8">
    <title>VetIndex Page</title>
</head>
<body>
<h1 th:text="'List of Vets'">Index Page</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vet : ${vets}">
        <td th:text="${vet.id}">1</td>
        <th th:text="${vet.firstName}">Joe</th>
        <th th:text="${vet.lastName}">Buck</th>
        <th th:text="${vet.specialitySet}">Buck</th>
    </tr>
    </tbody>
</table>
</body>
</html>